<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.music.mapper.MusicScoreMapper">

    <select id="selectMusics" resultType="com.music.entity.MusicScoreForSel">
        select  * from music_score ms, author_name an, author_country ac
        where ms.author_name_id = an.author_name_id and ms.author_country_id = ac.author_country_id
        <if test="queryParams.musicName != null and queryParams.musicName != ''">
            AND  ms.music_name  like concat('%',#{queryParams.musicName},'%')
        </if>
        <if test="queryParams.musicScope != null and queryParams.musicScope != '' or queryParams.musicScope == 0 ">
            AND  ms.music_scope = #{queryParams.music_scope}
        </if>
        <if test="queryParams.musicType != null and queryParams.musicType != '' or queryParams.musicType == 0 ">
            AND  ms.music_type = #{queryParams.musicType}
        </if>
        <if test="queryParams.hands != null and queryParams.hands != '' or queryParams.hands == 0 ">
            AND  ms.hands = #{queryParams.hands}
        </if>
        <if test="queryParams.musicName != null and queryParams.musicName != ''">
            AND  ms.music_name  like concat('%',#{queryParams.musicName},'%')
        </if>
        ORDER BY ms.create_time DESC
    </select>

</mapper>
